html {
  overflow-y: scroll;
  background-color: #eee;
}
body {
  margin: 0;
}
header {
  height: 50px;
  display: flex;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}
.h-left {
  line-height: 40px;
  font-size: 22px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 10px;
  flex-shrink: 0;
}
.h-left a {
  color: #ff6129;
  text-decoration: none;
}
.h-right {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 10px 0 auto;
}
main {
  min-height: calc(100svh - 150px);
  padding: 10px;
  box-sizing: border-box;
  max-width: 800px;
}
footer {
  height: 100px;
  border-top: 1px solid #000;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.f-top a {
  line-height: 32px;
  font-size: 20px;
  color: #ff6129;
  text-decoration: none;
}
