<% content_for :title, "投稿一覧" %>

<%= link_to "作成", new_post_path %>

<div class="posts" id="posts">
  <%= render partial: "posts/post", collection: @posts %>
</div>

<div id="load-more-button">
  <%= render partial: "posts/load_more_button", locals: { offset: @posts.last&.name_id } %>
</div>